<!DOCTYPE html>
<html>
{% load static %}


<head>
	<script>window.document.title="Car Care Center-Dashboard";</script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<title>Customet Dashboard — Car Service Center</title>
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<!-- JavaScript Bundle with Popper -->
	<link rel="stylesheet" href="{% static  "style.css" %}">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style>
		.hovernow {

			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
			transition: box-shadow 0.3s ease-in-out;
		}

		.hovernow:hover {
			box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
		}

		
	</style>


</head>

<body>
	{% include 'car/admin/adminbase.html' %}

	<div style="padding: 10px;
    margin-left: 10px;
    background: var(--second-bg-color);
    transition: margin-left .5s;">

		<!-- ****** cards start ********** -->
		
		<div class="row">
			<div class="col-3">
				<div class="counter bg-primary hovernow ">
					<p>
						<i class="fas fa-users"></i>
					</p>
					<h3>{{mech}}</h3>
					<p><a href = "/show_mechanic" style="text-decoration: none;color: white;">Mechanic</a> <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></p>
				</div>
			</div>
			<div class="col-3">
				<div class="counter bg-warning hovernow ">
					<p>
						<i class="fas fa-users"></i>
					</p>
					<h3>{{cust}}</h3>
					<p><a href = "customer_view" style="text-decoration: none;color: white;">Customer</a> <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></p>
				</div>
			</div>
			<div class="col-3">
				<div class="counter bg-success hovernow ">
					<p>
						<i class="fas fa-check-circle"></i>
					</p>
					<h3>{{job}}</h3>
					<p><a href = "/job_service "style="text-decoration: none;color: white;">Add Job</a> <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></p>
				</div>
			</div>
			<div class="col-3">
				<div class="counter bg-danger hovernow">
					<p>
						<i class="fas fa-bed"></i>
					</p>
					<h3>{{leaves}}</h3>
					<p><a href = "/leave_detail" style="text-decoration: none;color: white;">Mechanic Leave</a> <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></p>
				</div>
			</div>
		</div><br><br><br><br>

		<!-- ****** cards end ********** -->

	</div>

	<!-- end main content -->

{% include 'car/admin/footer.html' %}
</body>

</html>