<!DOCTYPE html> {% load static %}
<html lang="en" dir="ltr">


<head>
    <title>Car Care Center-Service</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>Login</title>
    <link rel="icon" type="image/png" href="{% static " images/favicon.png " %}">
    <!-- fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i">
    <!-- css -->
    <link rel="stylesheet" href="{% static " vendor/bootstrap/css/bootstrap.css " %}">
    <link rel="stylesheet" href="{% static " vendor/owl-carousel/assets/owl.carousel.min.css " %}">
    <link rel="stylesheet" href="{% static " vendor/photoswipe/photoswipe.css " %}">
    <link rel="stylesheet" href="{% static " vendor/photoswipe/default-skin/default-skin.css " %}">
    <link rel="stylesheet" href="{% static " vendor/select2/css/select2.min.css " %}">
    <link rel="stylesheet" href="{% static " css/style.css " %}">
    <link rel="stylesheet" href="{% static " css/style.header-spaceship-variant-one.css " %}"
        media="(min-width: 1200px)">
    <link rel="stylesheet" href="{% static " css/style.mobile-header-variant-one.css " %}" media="(max-width: 1199px)">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- font - fontawesome -->
    <link rel="stylesheet" href="{% static " vendor/fontawesome/css/all.min.css " %}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-97489509-8"></script>

    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());
        gtag("config", "UA-97489509-8");
        $('.alert').alert()
    </script>
    <link rel="stylesheet" href="{% static  " style.css" %}">
    <style>
        .searchbar {
            margin-bottom: auto;
            margin-top: auto;
            height: 50px;
            background-color: #353b48;
            border-radius: 40px;
            padding: 10px;
        }

        .search_input {
            color: white;
            border: 0;
            outline: 0;
            background: none;
            width: 0;
            caret-color: transparent;
            line-height: 30px;
            transition: width 0.4s linear;
        }

        .searchbar:hover>.search_input {
            padding: 0 10px;
            width: 200px;
            caret-color: red;
            transition: width 0.4s linear;
        }

        .searchbar:hover>.search_icon {
            background: white;
            color: #e74c3c;
        }

        .search_icon {
            height: 30px;
            width: 30px;
            float: right;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: white;
            text-decoration: none;
        }
    </style>
</head>

<body>
    {% include "car/admin/adminbase.html" %}

    <div class="container h-100" style="margin-top: 10px;">
        <div class="d-flex justify-content-center h-100" style="float: left;">
            <div class="searchbar">
                <input class="search_input" type="text" name="search" id="search" placeholder="Search...">
                <a href="" class="search_icon"><i class="fas fa-search"></i></a>
            </div>
        </div>
    </div>


    <div class="site__body">
        <div class="block">
            <div class="col-12 col-m-12 col-sm-12">
                <div class="row">
                    <div class="col-12 col-lg-12 mt-12 mt-lg-0">
                        <div class="dashboard">

                            <div class="dashboard__orders card">
                                <div class="card-header">
                                    <center>
                                        <h5>Car Service Pending Request</h5>
                                    </center>
                                </div>
                                <div class="card-divider"></div>
                                <div class="card-table">
                                    <div class="table-responsive-sm">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Customer Name</th>
                                                    <th>Categaory</th>
                                                    <th>Number</th>
                                                    <th>Name</th>
                                                    <th>Brand</th>
                                                    <th>Model</th>
                                                    <th>Problem</th>
                                                    <th>Date</th>
                                                    <th>Cost</th>
                                                    <th>Status</th>
                                                    <th>Payment Status</th>
                                                    <th>Update</th>
                                                    <th>Delete</th>

                                                </tr>
                                            </thead>
                                            <tbody id="table">
                                                {% for w in cus %}
                                                <tr>
                                                    <td>{{w.Customer.fname}} {{w.Customer.lname}}</td>
                                                    <td> {{w.category}}</td>
                                                    <td> {{w.number}}</td>
                                                    <td> {{w.name}}</td>
                                                    <td> {{w.brand}}</td>
                                                    <td> {{w.model}}</td>
                                                    <td> {{w.problem}}</td>
                                                    <td>{{w.date}}</td>
                                                    <td>{{w.cost}}</td>
                                                    <td>{{w.status}}</td>
                                                    <td>{{w.payment_status}}</td>
                                                    <td><a style="color:blue; text-decoration:none;font-size:25px;"
                                                            href="{% url 'update_request' w.id %}"><i
                                                                class="fas fa-pencil-alt" style="color: blue;"></i></a>
                                                    </td>
                                                    <td><a style="color:red; text-decoration:none;font-size:25px;"
                                                            href="{% url 'admin_delete_request' w.id %}"><i
                                                                class="fas fa-trash-alt"></i></a></td>
                                                </tr>
                                                {% endfor %}


                                            </tbody>
                                        </table>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>

    <div class="block-space block-space--layout--before-footer"></div>
    </div>
    {% include "car/footer.html" %}
</body>

<script>
    var $rows = $('#table tr');
    $('#search').keyup(function () {
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

        $rows.show().filter(function () {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return !~text.indexOf(val);
        }).hide();
    });
</script>

</html>